extends layout

block content
  p Description: 
  input(type="text" id="description")
  p Amount: 
  input(type="text" id="amount")
  p Category: 
  select(id="category")
  p Date: 
  input(type="text" id="date")
  br
  br
  input(type="submit" id="submit" value="Submit")
  br
  br
  span(id="statusMessage")