extends layout

block content
  div.container
    form.form-signin
      h2.form-signin-heading Input Spending
      br
      input#amount.form-control(type="number" autofocus='' placeholder='Amount')
      select#category.form-control
      input#description.form-control(type='text', placeholder='Description', required='')
      input#date.form-control(type='date', placeholder='Description', required='')
      button#submit.btn.btn-lg.btn-primary.btn-block(type='button') Submit
      p(id="statusMessage")
      p(id="listExpenses") 
        a(href="/expenses/list") List all expenses