extends layout

block navbar
  md-toolbar(layout="column")
    .md-toolbar-tools
      span Spending
block content
  div.container
    form.form-signin
     md-button.md-primary.md-raised#login(ng-click="login()") Login with Google