body {
  padding: 50px;
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

#logo{
  height:20px;
}

a {
  color:#337AB7;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

#mySpinner{
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  height:100px;
}

.form-signin .form-control {
  position: relative;
  height: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom:20px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#statusMessage{
  text-align:center; 
  margin-top:20px;
}

.boxContainer{
  padding-left:20px;  padding-bottom:20px; margin-bottom:20px; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;border:1px solid #f8f8f8;background-color:#F2F2F2;-webkit-box-shadow: #B5B5B5 3px 3px 3px;-moz-box-shadow: #B5B5B5 3px 3px 3px; box-shadow: #B5B5B5 3px 3px 3px;
}
  
.deleteLineItem:hover{
    color:grey;
    cursor: pointer
}

#login{
  position:absolute; 
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  height:50px;
  width:200px;
}

#logout{
  font-size:14px;
}

